<div class="navbar">
    <nav>   
        <div class="navbar">
            <a href="index">Home</a>
            <a href="about">About</a>
            <a href="tracker">Tracker</a>
            <a href="register">Register</a>
            <a href="users">Users</a>
        </div>
    </nav>
</div>