<body>

    <div id="nav">
        <%- include ('partials/navbar') %>
    </div>

    <div id="body">
        <%- body %>
    </div>

    <div id="footer">
        <%- include ('partials/footer') %>
    </div>

</body>