<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="/css/custom.css" rel="stylesheet" type = "text/css"/>
    </head>
    <body>
        <div class="registration-form">
            <h1>Welcome to the registration Page!</h1>  
            <form class = "form-register" action="/register" method = "post">
                
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>
    
                <label for="password"><b>Password</b></label>
                <input type="text" placeholder="Enter Password" name="password" id="password" required>
    
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
                <button type="submit" id="regBtn">Register</button>
            </form>
        </div>  
    </body>
    
</html>